
@import '../../variables/variables';

@import '../../mixins/mixins';

.bs-visibility-indicator {
	position: absolute;
	bottom:100%;
	right:0;
	white-space:nowrap;
	color:$wp-gray-dark;
}

.wp-block {

	@import "blocks/container";

	@media (min-width: 600px) {
		.editor-block-list__block[data-align="full"] .wp-block-columns > .editor-inner-blocks {
			padding-left: 43px;
			padding-right: 43px;
		}
	}
}
